<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ACHD Covid-19 Assessments</title>
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header id="top">
      <h1>ACHD Covid-19 Assessments</h1>
      <p>
        Note: This site is not affiliated with Allegheny County Health Department. It merely pulls information from their reports onto an aggregated page. To access the information directly, go to the <a target="_blank" rel="noreferrer noorigin" href="https://eapps.alleghenycounty.us/cFips/cDashBoard.aspx">Allegheny County COVID-19 Assessment Dashboard</a>.
      </p>

      <p class="notice">
        NOTICE 2020/08/24: The ACHD site changed their id system, which will require a little bit of work to add a new db field to track the new report id, change the collector to grab the new id from the report Url, and continue grabbing the old id from the report xml (to maintain old table anchor links). To do this, every report will have to be re-accessed to update all the old records with the new id (about 1,600 records), and I don't want to send that many requests to the county servers all at once, so I'll probably put a delay in between each collection. This shouldn't take too long, but will take some time. Collections should be working again within a day or so. <a href="https://gitlab.com/GazeDev/achd-covid19-assessments" target="_blank">Contributions welcome!</a>
      </p>
    </header>

    <hr>

    <main>
      <h1>Assessments, {{ covid19Assessments.length}} Reports</h1>

      <p>Last Updated: {{ metadata.lastUpdated | localDate }}</p>

      <p>This data display is a work in progress and just includes some of the information from the reports. If you think a change should be made, <a href="#footer">make a suggestion</a>.</p>

      <p>Key:</p>
      <dl class="key">
        <dt><span class="satisfactory-assessment">👍 + Green Background</span></dt>
        <dd>This report has been labeled a Satisfactory Report.<br> A white background denotes that this establishment was unsatisfactory in one or more criteria</dd>
        <dt># ✓ (Satisfactory)</dt>
        <dd>The number of Assessment Categories in which the establishment received a Satisfactory Assessment</dd>
        <dt># ❌ (Unsatisfactory)</dt>
        <dd>The number of Assessment Categories in which the establishment received an Unatisfactory Assessment</dd>
      </dl>

      <p>Click an assessment/facility name to get a direct link and expand the additional information section (including comments)</p>

      <div class="table-container">
        <div class="table-like">
          <section>
            <div class="row header">
              <div class="col name">Name</div>
              <div class="col address">Address</div>
              <div class="col date">Date</div>
              <div class="col satis" title="Satisfactory"># ✓</div>
              <div class="col unsatis" title="Unsatisfactory"># ❌</div>
              <div class="col link">Report Link</div>
            </div>
          </section>
          {%- for assessment in covid19Assessments %}
            <section id="{{ assessment['Encounter']}}">
              <div class="row {% if assessment.Satisfactory %}satisfactory-assessment{% endif %}">
                <div class="col name">
                  <a href="#{{assessment['Encounter']}}">
                    {% if assessment.Satisfactory %}👍{% endif %}
                    {{ assessment["Facility Name"] }}
                  </a>
                </div>
                <div class="col address">
                  {{ assessment['Report Data']['Address'] }},
                  {% if assessment['Report Data']['City'] !== assessment['Report Data']['Municipality'] %}
                    {{ assessment['Report Data']['City'] }}
                    ({{ assessment['Report Data']['Municipality'] }}),
                  {% else %}
                    {{ assessment['Report Data']['City'] }},
                  {% endif %}
                  {{ assessment['Report Data']['State'] }}
                  {{ assessment['Report Data']['Zip'] }}
                </div>
                <div class="col date">
                  {{ assessment['Insp Date'] }}
                </div>
                <div class="col satis">
                  {{ assessment['Report Data']['Assessments']['Results']['Satisfactory'] }}
                </div>
                <div class="col unsatis">
                  {{ assessment['Report Data']['Assessments']['Results']['Unsatisfactory'] }}
                </div>
                <div class="col link">
                  <a href="{{ assessment['Report'] }}" target="_blank" rel="noreferrer noorigin">(PDF)</a> |
                  <a href="{{ assessment['Report'] | replace('desformat=PDF', 'desformat=HTML') }}" target="_blank" rel="noreferrer noorigin">(HTML)</a>
                </div>
              </div>
              <div class="row collapsed">
                <div class="col comment-general">
                  <h3>General Comments</h3>
                  <p>{{ assessment['Report Data']['General Comments']['Comments'] }}</p>
                </div>
                <div class="col comment-satis">
                  <h3>Satisfactory Comments</h3>
                  {% if assessment['Report Data']['Satisfactory Comments'] == false %}
                    <p>No comments</p>
                  {% else %}
                    <dl>
                      {%- for key, value in assessment['Report Data']['Satisfactory Comments'] %}
                        <dt>{{ key }}</dt><dd>{{ value }}</dd>
                      {% endfor -%}
                    </dl>
                  {% endif %}
                </div>
                <div class="col comment-unsatis">
                  <h3>Unsatisfactory Comments</h3>
                  {% if assessment['Report Data']['Unsatisfactory Comments'] == false %}
                    <p>No comments</p>
                  {% else %}
                  <dl>
                    {%- for key, value in assessment['Report Data']['Unsatisfactory Comments'] %}
                      <dt>{{ key }}</dt><dd>{{ value }}</dd>
                    {% endfor -%}
                  </dl>
                  {% endif %}
                </div>
              </div>
            </section>
          {% endfor -%}
        </div>
      </div>
    </main>
    <footer id="footer">
      <p>View source, make suggestions, or contribute at <a href="https://gitlab.com/GazeDev/achd-covid19-assessments" target="_blank">GitLab:GazeDev/achd-covid19-assessments</a></p>

      <p>Alternatively/Additionally, <a target="_blank" href="mailto:GazePgh+achddash@gmail.com">contact Zac Littleberry via email</a></p>

      <p><a href="/_data/covid19Assessments.json">View the full scrape JSON</a></p>

      <p>
        <a href="https://Gaze.Dev">
          This project brought to you by<br>
          <img class="gaze-logo" src="https://Gaze.Dev/img/Gaze.Dev.png" alt="Gaze.Dev">
        </a><br>
        For Software Development or Consulting services, <a href="mailto:GazePgh+devconsult@gmail.com">contact us</a>.
      </p>

      <p><a href="#top">Back to top</a></p>
    </footer>
  </body>
</html>
