.table-container {
  max-width: 100%;
  overflow-x: auto;
}
.table-like {
  min-width: 71rem;
}

.table-like section {
  position: relative;
}

.table-like .row.collapsed {
  display: none;
}

.table-like section:target::before {
  content: "";
  display: block;
  position: absolute;
  border-left: .75rem solid #d21f95;
  border-top: .75rem solid transparent;
  border-bottom: .75rem solid transparent;
  top: 50%;
  margin-top: -.75rem;
}

.table-like section:target .row {
  border: 2px solid #d21f95;
}

.table-like section:target .row.collapsed {
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  border-top-width: 0;
  padding-left: .5rem;
  padding-right: .5rem;
}

.row.satisfactory-assessment,
.key .satisfactory-assessment {
  background-color: #b5e1b5;
}

.row.header {
  border-top-width: 1px;
  border-bottom-width: 2px;
}

.row.header .col {
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

.col {
  padding: .25rem;
  flex-grow: 1;
}

.col.name {
  flex-basis: 18rem;
  flex-grow: 2;
}

.col.name a {
  color: #000;
}

.col.address {
  flex-basis: 30rem;
  flex-grow: 2;
}

.col.date {
  flex-basis: 7rem;
}

.col.satis {
  flex-basis: 3rem;
}

.col.unsatis {
  flex-basis: 3rem;
}

.col.link {
  flex-basis: 10rem;
}

.col.comment-general {
  flex-basis: 18rem;
  flex-grow: 2;
}

.col.comment-satis {
  flex-basis: 30rem;
  flex-grow: 2;
}

.col.comment-unsatis {
  flex-basis: 24.5rem;
  flex-grow: 4;
}

.gaze-logo {
  max-width: 20rem;
}
